body {
    background-color: rgb(133, 115, 93);
    background-image: url('images/scroll.jpg');
    background-repeat: no-repeat;
    background-position: center; /* or center center */
    background-size: 75% auto;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    height: 1000px;
     }
.titlePlacement {
    margin-left: 425px;
    margin-right: 50px;
    margin-top: 375px;
    margin-bottom: 0px;
    padding: 5px;
    width: 450px;
    height: 5px;
    color: darkgreen;
}

.howtoplayPlacement{
    margin-left: 430px;
    margin-right: 50px;
    margin-bottom: 5px;
    margin-top: 90px;
    padding: 0px;
    width: 420px;
    height: 5px;
    color: darkgreen;
}
